{% extends 'base.html.twig' %}

{% block title %}New Episode{% endblock %}

{% block body %}
<div class="text-center">
    <h1 class="mt-5">Create new episode</h1>

    {{ include('episode/_form.html.twig') }}

    <a href="{{ path('app_episode_index') }}" class="fs-4">back to list</a>
    </div>
{% endblock %}
