{% extends 'base.html.twig' %}

{% block title %}New Season
{% endblock %}

{% block body %}
	<div class="text-center">
		<h1>Create new Season</h1>

		{{ include('season/_form.html.twig') }}

		<a href="{{ path('app_season_index') }}" class="fs-4">back to list</a>
	</div>
{% endblock %}
