{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!
{% endblock %}

{% block body %}

	{% if error %}
		<div class="text-center text-danger fs-3 m-5">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	{% endif %}
	<h2 class="text-center m-4">Login</h2>
	<div class="container">
		<form action="{{ path('app_login') }}" method="post" class="mt-5 w-50 mx-auto">
			<div class="mb-4">
				<label for="username" class="form-label">Email</label>
				<input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control">
				<div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
			</div>

			<div class="mb-4">
				<label for="password" class="form-label">Password</label>
				<input type="password" id="password" name="_password" class="form-control">
			</div>

			<input type="hidden" name="_csrf_token" value="{{ csrf_token('anthenticate') }}">

			<button type="submit" class="btn btn-danger w-25">Login</button>
		</form>
	</div>

{% endblock %}
