    <nav class="navbar navbar-expand-lg text-primary-emphasis bg-danger" data-bs-theme="light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Wild series</a>
        <div class="navbar-text" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
                        <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/program">Program</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>