<nav class="navbar navbar-expand-lg text-primary-emphasis bg-danger" data-bs-theme="light">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">Wild series</a>
		<div class="navbar-text" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Watch!
					</a>
					<ul class="dropdown-menu">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="/program">Program</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="/category">Category</a>
						</li>
					</ul>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Add!
					</a>
					<ul class="dropdown-menu">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="/new">Add program</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="/season/new">Add season</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="/episode/new">Add episode</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="/category/new">Add category</a>
						</li>
					</ul>
				</li>
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="/">Home</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
